
<% if @olegs.nil? %>
	<h3>Pathetic. You have 0 answers.</h3>
	<p>	Oleg is upset about you...</p>
	<%= link_to "I will not upset Oleg anymore", new_oleg_path, class: 'btn' %>
<% else %>
	<div class="row">
		<div class="col-md-10 col-md offset-1">
			<h1>You have <%= pluralize(@olegs.count, 'right answer') %></h1>
			<%= link_to "I can do more", new_oleg_path, class: 'btn' %>
		</div>
		<% @olegs.each do |oleg| %>
			<div class="col-md-6">
				<%= oleg.answer %>		
				<%= oleg.filmTitle %>
			</div>
		<% end %>
	</div>
<% end %>



